body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.translation {
  border: 1px solid #000000;
  width: 200px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  text-align: left;
  padding: 5px;
}