body {
	background: #efefef;

	#app {
		max-width: 1000px;
		background: white;
		margin: 0 auto;
		border: 1px solid #eaeaea;
		border-radius: 4px;
		padding: 20px 40px;
	}

	.container {

		margin-bottom: 30px;
		border-bottom: 1px solid #efefef;
		padding-bottom: 30px
	}
}
